<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/main">마플리</a>
  
      <div class="dropdown ms-auto">
        <button
          class="btn btn-outline-secondary dropdown-toggle"
          type="button"
          id="menuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          메뉴
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="menuButton">
          <li><a class="dropdown-item" href="/profile">회원정보</a></li>
          <li><a class="dropdown-item" href="/playlist">나의 플레이리스트</a></li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><a class="dropdown-item text-danger" href="/auth/logout">로그아웃</a></li>
        </ul>
      </div>
    </div>
  </nav>
  